@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

body {
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
