@import '~wolox-equalizer/equalizer';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

@import 'layout';
@import 'margins';
@import 'components';
@import './variables/colors';
@import './variables/variables';
@import 'typography';

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 8px;
  text-align: center;
  transition: all $transition-duration $transition-function;

  &.primary {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $blue;
    }
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    padding: 16px 32px;

    &:hover {
      background-color: $white;
      color: $cod-gray;
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

.link {
  color: $blue;
  cursor: pointer;
  text-decoration: underline;
  transition: color $quick-transition-duration $transition-function;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.white-color {
  color: $white;
}

.light-gray-color {
  color: $light-gray;
}

.blue-color {
  color: $blue;
}
